category-encoders==2.4.0
click==8.0.4
colorama==0.4.4
cycler==0.11.0
Flask==2.0.3
fonttools==4.31.2
gunicorn==20.1.0
imbalanced-learn==0.9.0
itsdangerous==2.1.0
Jinja2==3.0.3
joblib==1.1.0
MarkupSafe==2.1.0
numpy==1.22.2
packaging==21.3
pandas==1.4.1
patsy==0.5.2
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
sklearn==0.0
statsmodels==0.13.2
threadpoolctl==3.1.0
Werkzeug==2.0.3
xgboost==1.5.2
