 <!DOCTYPE html>
<html>
<head>
<title>Car Price Prediction</title>


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://www.teahub.io/photos/full/43-438248_2560x1440-great-trinity-wallpapers-for-texting-background-best.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">Predicted Car Price</h1>
   
    
    
      <h4>{{ prediction_price }}</h4>
      
      
        <h4>{{ prediction_data }}</h4>
        <h4>{{ cond_car }}</h4>
    
 
    
    
       
  </div>
  <div class="w3-display-bottomleft w3-padding-large">

  </div>
</div>
  

</body>
</html>
